NUXT_PUBLIC_API_GATEWAY_HOST=http://192.168.130.112
NUXT_PUBLIC_API_GATEWAY_PORT=7000

NUXT_PUBLIC_API_USERS_HOST=http://192.168.130.112
NUXT_PUBLIC_API_USERS_PORT=8001

NUXT_PUBLIC_GRAFANA_HOST=http://192.168.130.112
NUXT_PUBLIC_GRAFANA_PORT=7000

NUXT_PUBLIC_NODE_ENV=development